.text::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 95px;
    margin-left: 78px;
    margin-top: -130px;
    border-radius: 2px 2px 0 0;
    background-color: rgba(0, 0, 0, 9);
}
.example-element {
    background-color: #fce6b0;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid #857956;
    margin: 60px;
    padding: 40px;
    width: 250px;
    height: 150px;
    box-shadow: 5px 5px 11px 0px rgba(34, 60, 80, 0.5);
}
.Sample {
    margin-left: 60px;
    color: #fce6b0;
    text-shadow: 0px 4px 5px rgba(113, 114, 114, 0.78);
}
.text {
    margin-top: 20px;
}